node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache

*openzeppelin

# artifacts
artifacts/*/*/*
artifacts/*/*.json
# !artifacts/contracts/
# !artifacts/contracts/Broker.sol/Broker.json
# !artifacts/contracts/Broker.sol/IERC20.json

# types
typechain-types/*
# !typechain-types/contracts
typechain-types/contracts/*
# !typechain-types/common.ts
# !typechain-types/contracts/Broker.sol
# !typechain-types/contracts/Broker.sol/*.ts

temp.txt
flat.sol