node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

*openzeppelin

!artifacts/contracts/BrokerV1.sol/BrokerV1.json
!artifacts/contracts/BrokerV1.sol/IERC20.json
!artifacts/contracts/Community.sol/Community.json